<img src="{{ .Page.Params.image }}" class="img-fluid" alt="Uniform Jersey">
<p class="fw-bold">Uniforms will be distributed prior to the spring and fall U12/U14/U18 season and returned at the end
  of the season.
</p>
{{/*  Youth Sizes  */}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Youth</th>
      <th scope="col">YS</th>
      <th scope="col">YM</th>
      <th scope="col">YL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Chest:</th>
      <td>27"-29"</td>
      <td>29"-31"</td>
      <td>31"-33"</td>
    </tr>
    <tr>
      <th scope="row">Waist:</th>
      <td>23"-25"</td>
      <td>25"-27"</td>
      <td>27"-29"</td>
    </tr>
  </tbody>
</table>
{{/*  Youth Sizes  */}}
{{/*  Adult Sizes  */}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Adult</th>
      <th scope="col">AS</th>
      <th scope="col">AM</th>
      <th scope="col">AL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Chest:</th>
      <td>36"-38"</td>
      <td>38"-40"</td>
      <td>40"-42"</td>
    </tr>
    <tr>
      <th scope="row">Waist:</th>
      <td>30"-32"</td>
      <td>30"-34"</td>
      <td>36"-38"</td>
    </tr>
  </tbody>
</table>
{{/*  Adult Sizes  */}}