{{ define "main" }}

{{ partial "nav/youth-nav" . }}

{{ partial "banner" . }}

<div class="container">
  <section class="row g-5">
    <main class="col-lg-8">
      <div class="p-4 shadow">
        <div class="flyer1">
          <h2 class="mb-4">{{ .Params.flyer1.heading }}</h2>
          <img src="{{ .Params.flyer1.img }}" alt="" class="img-fluid">
          <p class="mt-3">{{ .Params.flyer1.description }}</p>
          <p class="text-danger">UPDATE: {{ .Params.flyer1.update }}</p>
          <span><a href="https://docs.google.com/forms/d/1acCtXPME0oO-pblii8u2UJmDLbMoO3D_AKifIt9JQk0/edit">Register
              Online</a></span>
        </div>
        <div class="flyer2 mt-5">
          <h2 class="mb-4">{{ .Params.flyer2.heading }}</h2>
          <img src="{{ .Params.flyer2.img }}" alt="" class="img-fluid">
          <p class="mt-3">{{ .Params.flyer2.description }}</p>
          <p class="text-danger">UPDATE: {{ .Params.flyer2.update }}</p>
          <a href="https://docs.google.com/forms/d/1acCtXPME0oO-pblii8u2UJmDLbMoO3D_AKifIt9JQk0/edit">Register
            Online</a>
        </div>
        <div class="flyer3 mt-5">
          <h2 class="mb-4">{{ .Params.flyer3.heading }}</h2>
          <img src="{{ .Params.flyer3.img }}" alt="" class="img-fluid">
          <p class="mt-3">{{ .Params.flyer3.description }}</p>
          <p class="text-danger">UPDATE: {{ .Params.flyer3.update}}</p>
          <a href="https://docs.google.com/forms/d/1acCtXPME0oO-pblii8u2UJmDLbMoO3D_AKifIt9JQk0/edit">Register
            Online</a>
        </div>
      </div>
    </main>
    {{ partial "youth-sidebar" . }}
  </section>
</div>
{{ partial "footer/youth-footer" . }}
{{ end }}

{{/*  {{ define "main" }}

{{ partial "nav/youth-nav" . }}

<div class="container py-5">

  {{ partial "banner" . }}

  <section class="row g-5 py-5">
    <div class="col-lg-8">
      <div class="bg-light border p-3">
        <div class="">
          <h2 class="mb-4">Club Registration - Spring 2022 </h2>
          <img src="spring-registration2022.jpg" alt="" class="img-fluid">
          <p class="mt-3">U18 (High School) - U14 (7th & 8th Grade) - U12 (5th & 6th Grade)</p>
          <p class="text-danger">UPDATE: Registration is open until March 14, 2022</p>
          <a href="#">Register Online</a>
        </div>
        <div class="">
          <h2 class="mb-4">Club Registration - Spring 2022 </h2>
          <img src="spring-registration2022.jpg" alt="" class="img-fluid">
          <p class="mt-3">U18 (High School) - U14 (7th & 8th Grade) - U12 (5th & 6th Grade)</p>
          <p class="text-danger">UPDATE: Registration is open until March 14, 2022</p>
          <a href="#">Register Online</a>
        </div>
        <div class="">
          <h2 class="mb-4">Club Registration - Spring 2022 </h2>
          <img src="spring-registration2022.jpg" alt="" class="img-fluid">
          <p class="mt-3">U18 (High School) - U14 (7th & 8th Grade) - U12 (5th & 6th Grade)</p>
          <p class="text-danger">UPDATE: Registration is open until March 14, 2022</p>
          <a href="#">Register Online</a>
        </div>
        <div class="">
          <h3>Robinson Soccer Club</h3>
          <p>Robinson Soccer has expanded from offering recreational soccer through the City of Robinson Parks &
            Recreations Department to our very own U18, U14 and U12 travel soccer club! We are very excited to provide
            this opportunity to the youth of Crawford County, Illinois.</p>
        </div>
      </div>
    </div>

    {{ partial "sidebar" . }}

  </section>
</div>

{{ end }} */}}