<footer class="container-fluid mt-5">
  <div class="row bg-dark text-light text-center p-4">
    <div class="col-lg-3">
      <a href="http://www.illinoisyouthsoccer.org/">
        <img src="/img/club/il-youth-soccer.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-3">
      <a href="http://www.usyouthsoccer.org/">
        <img src="/img/club/us-youth-soccer.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-3">
      <a href="http://www.ussoccer.com/">
        <img src="/img/club/us-soccer-federation.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-3">
      <a href="#">
        <img src="/img/club/heads-up-concussion-sports.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="mt-4">
      <p><small>&copy; Robinson Soccer Club - Robinson, Illinois</small></p>
    </div>
  </div>
</footer>