{{/* Needs layout and URL touch-ups  */}}
<footer class="container-fluid mt-5">
  <div class="row bg-dark text-light text-center p-4">
    <div class="col-lg-4">
      <a href="http://www.cityofrobinson.com/parks-recreation/">
        <img src="/img/youth/robinson-parks-rec-dept.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-4">
      <a href="http://www.concussionfoundation.org/national-initiatives/safer-soccer">
        <img src="/img/youth/safer-soccer.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#">
        <img src="/img/youth/heads-up-concussion-sports.png" alt="" class="img-fluid">
      </a>
    </div>
    <div class="mt-4">
      <p><small>&copy; Robinson Soccer &#183; Robinson Park & Recreation Department &#183; Robinson, Illinois</small>
      </p>
    </div>
  </div>
</footer>