<div class="container">
  <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <!-- Name -->
    <div class="form-group mb-3">
      <label for="name">Name:</label>
      <input class="form-control" id="name" name="name" type="text" required>
    </div>
    <!-- Email -->
    <div class="form-group mb-3">
      <label for="email">Email:</label>
      <input class="form-control" id="email" name="email" type="email" required>
    </div>
    <!-- Subject -->
    <div class="form-group mb-3">
      <label for="subject">Subject:</label>
      <input type="text" class="form-control" id="subject" name="subject" required>
    </div>
    <!-- Message -->
    <div class="form-group mb-3">
      <label for="message">Message:</label>
      <textarea class="form-control" rows="10" id="message" name="message" type="text" required></textarea>
    </div>
    <!-- Recapthca -->
    <!-- Form submit -->
    <div class="form-group">
      <div data-netlify-recaptcha="true"></div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>