<div class="container">
  <form class="p-2" name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <!-- Name -->
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" placeholder="Name" />
    </div>
    <!-- Email -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Email Address</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
    </div>
    <!-- Message -->
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" id="message" type="text" placeholder="Message"></textarea>
    </div>
    <!-- Recapthca -->
    <div class="mb-3" data-netlify-recaptcha="true"></div>
    <!-- Form submit -->
    <div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>