<button class="navbar-toggler bg-light" type="" data-bs-toggle="collapse" data-bs-target="#searchbarCollapse"
  aria-controls="searchbarCollapse" aria-expanded="false" aria-label="Toggle Searchbar">
  <img src="/img/search.svg" alt="Search Icon">
</button>
<div class=" justify-content-end" id="searchbarCollapse">
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>