<!DOCTYPE html>
<html lang="en">

  <head>
    {{ partial "head" . }}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark p-4" aria-label="Navigation menu">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/img/robinsonsoccer5.png" alt="" class="d-none d-lg-block">
          <img src="/img/robinsonsoccer6.png" alt="" class="d-lg-none">
        </a>
        <button class="navbar-toggler bg-light" type="" data-bs-toggle="collapse" data-bs-target="#searchbarCollapse"
          aria-controls="searchbarCollapse" aria-expanded="false" aria-label="Toggle Searchbar">
          <img src="/img/search.svg" alt="Search Icon">
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="searchbarCollapse">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    {{ partial "banner" . }}

    <section class="container">
      <div class="row">
        <div class="col-lg-6 mt-5">
          <div class="card">
            <a href="/youth">
              <img src="/img/w-youth-soccer.png" class="card-img-top" alt="Youth Soccer">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">Robinson Soccer Youth League</a> is fall program sponsored by the
                Robinson
                Parks &
                Recreation
                Department for
                children ages 4 to 12.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-5">
          <div class="card">
            <a href="/club">
              <img src="/img/w-soccer-club.png" class="card-img-top" alt="Youth Soccer">
            </a>
            <div class="card-body">
              <p class="card-text"><a href="#">Robinson Soccer Club</a> includes coed U18, U14, U12 travel teams and U10
                spring
                league.</p>
            </div>
          </div>
        </div>
      </div>

    </section>

    <footer class="mt-5 p-4 text-light bg-dark text-center">
      &copy; 2021
    </footer>
    {{ partial "script-footer" . }}
  </body>

</html>