<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img
        src="https://res.cloudinary.com/robinson-soccer/image/upload/f_auto,q_auto/v1647438198/Site/robinsonsoccer5_p2ucuq.png"
        alt="" class="d-none d-lg-block">
      <img
        src="https://res.cloudinary.com/robinson-soccer/image/upload/f_auto,q_auto/v1647438213/Site/robinsonsoccer6_qfu5zr.png"
        alt="" class="d-lg-none">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ range .Site.Menus.club }}
        {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ .Page.RelPermalink}}" id=" {{ .Name }}-dropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ .Name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="{{ .Name }}-dropdown">
            {{ range .Children }}
            <li>
              <a class="dropdown-item" href="{{ .Page.RelPermalink }}">
                {{ .Name }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ else }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .Page.RelPermalink }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>