{{/* Needs layout and URL touch-ups  */}}
<footer class="container-fluid">
  <div class="row bg-dark text-light text-center mt-5 p-4">
    <div class="col-lg-4">
      <a href="http://www.cityofrobinson.com/parks-recreation/">
        <img
          src="https://res.cloudinary.com/robinson-soccer/image/upload/f_auto,q_auto/v1647438181/Site/robinson-parks-rec-dept_we5vdb.png"
          alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-4">
      <a href="http://www.concussionfoundation.org/national-initiatives/safer-soccer">
        <img
          src="https://res.cloudinary.com/robinson-soccer/image/upload/f_auto,q_auto/v1647438232/Site/safer-soccer_splupt.png"
          alt="" class="img-fluid">
      </a>
    </div>
    <div class="col-lg-4">
      <a href="#">
        <img
          src="https://res.cloudinary.com/robinson-soccer/image/upload/f_auto,q_auto/v1647438132/Site/heads-up-concussion-sports_pi5trc.png"
          alt="" class="img-fluid">
      </a>
    </div>
    <div class="mt-4">
      <p><small>&copy; Robinson Soccer &#183; Robinson Park & Recreation Department &#183; Robinson, Illinois</small>
      </p>
    </div>
  </div>
</footer>