<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/robinsonsoccer5.png" alt="" class="d-none d-lg-block">
            <img src="/img/robinsonsoccer6.png" alt="" class="d-lg-none">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {{ $currentPage := . }}
                {{/*  <li class="nav-item">
                    <a class="nav-link active" href="/youth/">Home</a>
                </li>  */}}
                {{ range .Site.Menus.youth }}
                {{ if .HasChildren }}
                <li class="nav-item dropdown{{ if $currentPage.HasMenuCurrent "youth" . }} active{{ end }}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ .Name }}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{ range .Children }}
                        <li>
                            <a class="dropdown-item" href="{{ .Page.RelPermalink }}">
                                {{ .Name }}
                            </a>
                            {{ if .HasChildren }}
                            <ul class="">
                                {{ range .Children }}
                                <li>
                                    <a class="dropdown-item" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
                                </li>
                                {{ end }}
                            </ul>

                            {{ end }}
                        </li>
                        {{ end }}
                    </ul>
                </li>

                {{ else }}
                <li class="nav-item {{ if $currentPage.HasMenuCurrent "youth" . }}active{{ end }}">
                    <a class="nav-link" href="{{ .Page.RelPermalink }}">
                        {{ .Name }}
                    </a>
                </li>
                {{ end }}

                {{ end }}
            </ul>

        </div>
    </div>
</nav>

{{/*  {{ if .HasChildren }}
{{ range .Children }}

<ul class="dropdown-menu" aria-labelledby="{{ .Name }}"> */}}
    {{/*  <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
    <ul class="dropdown-menu">
        <li><a href="{{ .Page.RelPermalink }}" class="dropdown-item">{{ .Name }}</a></li>
        {{ end }}
    </ul> */}}