{{/*  Youth Sidebar  */}}
<aside class="col-10 col-lg-3 mt-5">
  <div class="text-center">
    <h3 class="mb-4 text-decoration-underline">Facebook</h3>
    <iframe
      src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Frobinsonsoccer%2F&tabs=timeline&width=300&height=700&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
      width="300" height="700" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
  <div class="container">
    <h3 class="my-4 text-center text-decoration-underline">Supporters</h3>
    {{/*  {{ partial "youth/sponsors/carousel" . }} */}}
    <div id="sponsorsCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="1">
          <img src="" class="d-block w-50 m-auto" alt="">
        </div>
        {{ range .Site.Data.carousel.slides }}
        <div class="carousel-item" data-bs-interval="2500">
          <a href="/youth/sponsors/"><img src="{{.src}}" class="d-block w-50 m-auto" alt="{{.alt}}"></a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</aside>