{{ define "main" }}
{{ partial "youth/navbar" . }}
{{ if  .Site.Params.text }}
{{ partial "banner" . }}
{{ end }}
<div class="container">
  <main class="row justify-content-around">
    <section class="col-10 col-lg-7 mt-5">
      <h2 class="mb-4">{{ .Params.heading }}</h2>
      {{ .Content }}
      <div class="container">
        <div class="row text-center">
          {{ range .Params.images }}
          <div class="col-md-4">
            <a href="{{.href}}"><img class="img-fluid m-4" src="{{.src}}" alt="{{.alt}}"></a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ partial "youth/sidebar" . }}
  </main>
</div>
{{ partial "youth/footer" . }}
{{ end }}