{{ define "main" }}
{{ partial "youth/navbar" . }}
{{ partial "banner" . }}
<div class="container">
  <main class="row justify-content-around">
    <section class="col-10 col-lg-7 mt-5">
      <h2 class="mb-4">{{ .Params.heading }}</h2>
      <p>{{ .Params.text | markdownify }}</p>
      <p><a href="{{ .Params.link.url }}">{{ .Params.link.linkText }}</a></p>
      <div class="container">
        <div class="row text-center">
          {{ range .Params.resources }}
          <div class="col-md-4">
            <a href="{{.href}}"><img class="img-fluid" src="{{.src}}" alt="{{.alt}}"></a>
          </div>
          {{ end }}
        </div>
      </div>
    </section>
    {{ partial "youth/sidebar" . }}
  </main>
</div>
{{ partial "youth/footer" . }}
{{ end }}